<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/css/uikit.min.css"/>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Warframe Tools</title>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit-icons.min.js"></script>
    {% block head %}{% endblock %}

</head>

<body>
<header uk-sticky>
    <nav class="uk-navbar-container" uk-navbar>
        <button class="uk-button uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-push" aria-expanded="false" uk-icon="menu" ratio="2"></button>
        <div class="uk-navbar-center">
            <a class="uk-navbar-item uk-logo" href="/"><img src="https://s3.akarinext.org/assets/*/warframe_site/warframe_icon.svg" alt="warframe_icon" width="36px">WARFRAME TOOLS</a>
        </div>
    </nav>
    <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar">

            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <h3>Warframe Tools</h3>

            <p>Warframe Toolsへようこそ！<br/>ここではWarframeに関する情報等をAPIを元に提供しています。</p>
            <hr class="uk-divider-icon">

            <ul uk-accordion>
                <li>
                    <a href="/">トップ</a>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#"><img src="https://s3.akarinext.org/assets/*/warframe_site/relic_non_back.svg" alt="warframe_icon"
                                                                width="25px">亀裂</a>
                    <div class="uk-accordion-content">
                        <p>レリックを解放してPrime武器などを入手しよう！<a href="/fissures">一覧へ</a></p>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">Item 2</a>
                    <div class="uk-accordion-content">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">Item 3</a>
                    <div class="uk-accordion-content">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
</body>

</html>
